* {
  box-sizing: border-box;
}

.header_wrapper{
  width: 100vw;
  height: 80px;
  padding: 2vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

.application_name{
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.right_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_nickname,
.logout_btn,
.login_btn,
.registration_btn{
  font-size: 16px;
  margin: 0 20px;
  color: white;
  text-decoration: none;
}
