.field {
  padding: 0.35em 0.625em 0.75em;
}

label {
  padding-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
.select_box {
  height: 40px;
  width: 100%;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 7px;
}



form input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: #4c2709;
  border-radius: 10px;
  color: #fff;
  border: 0;
  font-size: 12px;
  padding: 10px 20px;
  margin: 20px auto;
}
