.new_payment_btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  text-decoration: none;
  background-color: #697C37;
  padding: 5px 10px;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  margin: 20px auto;
}

.payment_main {
  width: 40vw;
  height: 100%;
  margin: 0 auto 40px;
}

.payment_notice {
  text-align: center;
  margin: 10px auto;
}

.payment_status {
  margin: 40px auto;
}

.payment_status_record {
  text-align: center;
  font-size: 16px;
  margin: 20px auto;
}

.payment_form {
  margin: 40px;
  height: 100%;
}

.form_wrap {
  margin-bottom: 40px;
}

.form_title {
  text-align: center;
  font-size: 20px;
}

.form_wrap_number,
.form_wrap_cvc,
.form_wrap_expiry {
  margin: 5px 0;
}